@model IEnumerable<Sherlock.Models.Landmark>




<h2>The List of Landmarks</h2>






<div class="row">

    <div class="col-sm-6">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)

                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a onClick="initMapSingle(@item.Latitude, @item.Longitude);" style="cursor: pointer; ">@item.Title</a>
                        <span><a href="~/Home/LandmarkComments?id=@item.Id">View details</a></span> 
                        @{var shortUserName = item.User.Email.Split('@').FirstOrDefault();}
                        <span>Landmark added by @shortUserName.Substring(0, 1).ToUpper()@shortUserName.Substring(1)</span>
                    </td>

                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }

        </table>

    </div>
    <div class="col-sm-6" id="map"></div>
</div>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb35GFpToNtidA7VfBEZS1vOEgiIxJ2vI&callback=initMap">
</script>
