@model Sherlock.Models.Landmark
@using Microsoft.AspNet.Identity

<div class="panel panel-default">
    <div class="panel-body">

        <h1 class="biggy">@Html.DisplayFor(model => model.Title)</h1>
        <div><img src="@Html.DisplayFor(model => model.Image1)" style="width: 100%;" alt="Alternate Text" /></div>
        <div style="color: transparent;">.</div>
        <div class="panel panel-default">
            <div class="panel-heading sansText">
                <p>@Html.DisplayFor(model => model.Address1) @Html.DisplayFor(model => model.Address2)</p>
                <p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)  @Html.DisplayFor(model => model.ZipCode)</p>
            </div>
        </div>
        <div>
            <p class="sansText">@Html.DisplayFor(model => model.Description)</p>
        </div>

        <h2>Additional Links</h2>
        <a href="@Html.DisplayFor(model => model.Links)">@Html.DisplayFor(model => model.Links)</a>

        <h2>Rating &nbsp;&nbsp;&nbsp;<span class="alert-danger">pipes</span></h2>



        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Contact", "Home")
        </p>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <input type="hidden" id="userId" value="@User.Identity.GetUserId()" />

    <input type="hidden" id="landmarkId" value="@Model.Id" />

    <div class="form-group">
        <label for="usercomment">Add a comment?</label>
        <textarea class="form-control" id="userComment" rows="3"></textarea>
        <p><button type="submit" class="btn btn-danger" onclick="saveComment();">Add</button></p>
    </div>
}

